body.modal #footer {
    display: none !important;
}

.with-right-side #header-inner, #header-inner {
    max-width: 100% !important;
}

#footer {
    margin: 0 0 34px 26px;
}

/* -- Form styles -- */

.bootstrap-form div.help
{
    margin-top: 0.5em;
    font-size: 0.8em;
    color: #888;
}

.bootstrap-form .warning
{
    width: 65%;
    margin: 1.5em 0 2em 12.25em;
    padding: 0.75em 1em;
    border: 1px dotted #960;
    background: #FEC;
    color: #630;
}

/* -- Copyright Compliance and PIA Notices -- */

.sfu-ic-wizard-box__message-text__copyright_compliance {
    font-size: 12px;
    margin-top: 24px;
}
.SFUPrivacyNotice .icon-warning {
    display: inline;
}

.SFUPrivacyNotice .icon-warning:before {
    font-size: inherit;
}

.SFUPrivacyNotice .icon-warning:after {
    content: "\a0";
}

.SFUPrivacyNotice.alert {
    padding: .5em 1em !important;
    color: #695129;
    background-color: #FBEDE7;

}
